
<%= form_for Note.new do |f| %>
	<%= f.label :note, "Note text" %><br />
	<%= f.text_field :note_text %>

	<%= f.submit "Create note" %>
<% end %>


<div id="notes">
	<% @notes.each do |note| %>
	<div>
	 <a href="/notes/<%= note.id %>"><img src="/images/show.png" alt="show" /></a> <%= note.note_text %>
	</div>
	<% end %>
</div>




